<h1>Welcome to {{title}}</h1>

<form class="diceForm" method="post">
  Expression: <input type="text" id="rollExpression" value="" required>
  <input type="submit" name="name" value="Roll">
</form>

<p id="response">
</p>
