<h1>Welcome to {{title}}</h1>

<form class="diceForm" method="post">
  <div class="form-group myFormGroup">
    <label class="col-lg-2 control-label">Expression</label>
    <div class="col-lg-6">
      <input type="text" id="rollExpression" class="form-control" value="" placeholder="ex. 3d6" required>
    </div>
    <div class="myRow">
      <input type="submit" class="btn btn-success" name="name" value="Roll">
    </div>
  </div>

</form>

<div class="response">
  <h2>Total: <span class="responseTotal"></span></h2>
  <h2>Entry: <span class="responseEntry"></span></h2>
  <h2>Type: <span class="responseType"></span> (<span class="responseFormat"></span>)</h2>
</div>
